<h1 color = '#1ea1b3' >Web Scraping</h1>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup
name = []
date = []
rating = []
place= []
location = []
review = []
for i in range(72):
    page = requests.get(f'https://www.flipkart.com/adidas-running-shoes/product-reviews/itmeqrywa9rmvbhm?pid=SHOEQRYVQHWNQX8P&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page={i+1}')
    if page.status_code==200 :
    
        soup = BeautifulSoup(page.text)

        #name
        all_name = soup.find_all('p',attrs = {'class':'_3LYOAd _3sxSiS _2675cp'})
        for k,ele in enumerate(all_name):
            name.append(ele.text)

         #date   
        all_date = soup.find_all('p', attrs = {'class':'_3LYOAd'})
        for i, ele in enumerate(all_date):
            if i%2!=0:
                date.append(ele.text)

        #rating
        all_rating = soup.find_all('div', {'class':'hGSR34'})
        for ele in all_rating:
            if ele.text!='3.9':

                rating.append(ele.text)


        #location
        all_place = soup.find_all('p',attrs = {'class':'_19inI8'})
        for j,ele in enumerate(all_place):
            location.append(ele.text.split(',')[1].strip())
        if j!=k:
            for i in range(9-j):
                location.append(ele.text)

        #review
        all_review = soup.find_all('div',attrs = {'class':'_2t8wE0'})
        for ele in all_review:
            review.append(ele.text)

df = pd.DataFrame(data = {
    'name':name,
    'location':location,
    'rating':rating,
    'date':date,
    'review':review
})  
print('Data Frame Created')
df.to_csv('flipkart_review_details.csv')

Data Frame Created

In [3]:
df.head()

,name,location,rating,date,review
0,Amin kharkongor,Shillong,1,"Sep, 2017",Good but one foot is smaller. The sole is hard...
1,Harish Bora,Bengaluru,1,"Oct, 2017",Worst and quality is very cheap
2,Flipkart Customer,Punjalkatte,1,"Mar, 2017",Very poor quality
3,Deepak Pandey,Mumbai,1,"Jun, 2017",I had brought brand new adidas running shoes o...
4,Flipkart Customer,Bhopal District,1,"Dec, 2017",very bad

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 5 columns):
name        713 non-null object
location    713 non-null object
rating      713 non-null object
date        713 non-null object
review      713 non-null object
dtypes: object(5)
memory usage: 27.9+ KB